html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, black, blue);
    background-size: 200% 200%;
    color: #f3f3f3;
    justify-content: space-between;
    overflow-x: hidden;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.main-heading {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 2s ease;
}
.main-heading.fade-in {
    opacity: 1;
}

@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}


.header {
    overflow: hidden;
}

.word {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.word.visible {
    opacity: 1;
}

.word.final {
    animation: expand 2s forwards;
    color: red;
}

@keyframes expand {
    from {
        letter-spacing: 0;
    }
    to {
        letter-spacing: 1rem;
    }
}

.content-section {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.content-section:hover {
    transform: scale(1.02);
}

.content-text {
    text-align: justify;
    font-size: 18px;
    max-width: 800px;
    margin: 20px;
    opacity: 0;
    animation: fadeInContent 4s forwards;
    animation-delay: 4s;
    line-height: 1.8;
    color: #ddd;
}

.content-text p {
    margin-bottom: 20px;
}

.author-note {
    text-align: right;
    font-size: 16px;
    margin-top: 30px;
    color: #aaa;
    opacity: 0;
    animation: fadeInAuthorNote 4s forwards;
    animation-delay: 5s;
}

@keyframes fadeInContent {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInAuthorNote {
    from { opacity: 0; }
    to { opacity: 1; }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.home-link {
    text-align: center;
    margin: 20px;
    opacity: 0;
    animation: fadeInHomeLink 4s forwards;
    animation-delay: 6s;
}

.home-link a {
    text-decoration: none;
    color: #61dafb;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.home-link a:hover {
    background-color: red;
    color: #282c34;
    border: red;
}

@keyframes fadeInHomeLink {
    from { opacity: 0; }
    to { opacity: 1; }
}

footer {
    text-align: center;
    padding: 10px;
    color: #888;
    opacity: 0;
    animation: fadeInFooter 4s forwards;
    animation-delay: 7s;
}

@keyframes fadeInFooter {
    from { opacity: 0; }
    to { opacity: 1; }
}